@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

/* fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/* CONTENTS
    1. Global
    2. Header
        a. logo and contact info
*/


/* 1. Global */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
                /* Remove zoom on inputs for mobile */
}

img {
    width: 100%;
    height: auto;
}

html, p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a:link {
    color: orangered;
}

#container {
    width: 100%;
    margin: 0 auto;
}

/* 2. Header */

header { 
    width: 75%;
    margin: 0 auto;
    padding: 3em 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: #006092;
}

.header-text {
    font-size: 1rem;
}

/* 3. Banner text */

.banner-prices {
    width: 100%;
    background: orangered;
    padding: .5em;
}

.lead-text {
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
}

/* 4. Banner image */



/* Main */

/* Content Section */

.banner-img {
    background:linear-gradient(0deg, rgba(1, 63, 100, 0.8), rgba(0, 96, 146, 0.3)), url('/img/banner-img-new2.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
 
}

.banner-copy {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.3;
    top: 10%;
    width: 55%;
    margin: 0 auto;
}

.title-text {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 1em;
}

.lead-text {
    font-size: 1.5rem;
    color: #ffffff;
}

.ul-lead-text {
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
}

.body-text {
    color: #ffffff;
}


.ul-lead-text .ul {
    list-style: none;
  }
  
.ul-lead-text .ul li:before {
    content: '✓';
}

/* Footer */

footer { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
}

.footer-contain {
    width: 75%;
    margin: 0 auto;
    padding: 4em 4em;
}

.footer-date-contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.footer-text {
    color: #ffffff;
    text-align: center;
}

#auto-date,
.footer-text-logo {
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    opacity: 55%;
}